#ignore .vscode directory#

##########################


.vscode/



#ignore build directory#

########################

*build/




#ignore codeblocks project files#

#################################

*.cbp




#ignore artefacts from codeblocks project creation#

###################################################

*.depend

*.layout




#ignore artefacts from Visual Studio project creation#

######################################################

*.pdb
*.suo
*.exe
*.ilk

#ignore mathematica notebook files

######################################################

*.nb
